# Ignore configuration files
config/*.php

# Ignore log files
logs/
*.log

# Ignore temporary files
temp/
*.tmp

# Ignore vendor folder (if using Composer)
vendor/
vendor/autoload.php/
vendor/composer/
vendor/guzzlehttp/

# Ignore environment file
.env

#Images
src/controllers/images/
